
		<div>
			<div>
				<h3>Edit a cat</h3>
				<div></div>
				<form  name="CatForm" method="/getdafsd" novalidate ng-submit = "saveCat($event, cat)" my-submit>
				<div>
					<input name = "cName" type = "text" placeholder = "cat name" required ng-model = "cat.name">
				</div>
				<div ng-show="CatForm.$submitted || CatForm.cName.$touched">
					<div ng-show="CatForm.cName.$error.required">Enter name.</div>
				</div>
				<div my-innerform="cat.photo">
				</div>
				<div>

					<input type="submit" ng-disabled = "CatForm.$invalid">
					<input type = "button" value="cancel">
		
				</div>
			</div>
		</div>